$color_1: #ffffff;
$color_2: #e7e8e9;
$color_3: #1a1a1a;
$background-color_1: #1a1a1a;
$background-color_2: #2e2e2e;
$background-color_3: rgb(73, 73, 73);
$background-color_4: #949494;
$background-color_5: #4e4e4e;
$background-color_6: #0055c4;
$background-color_7: #b90c00;
$my-font: Arial, Helvetica, sans-serif;